{{!< layouts/main}}

<style>
form {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.comment {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.comment strong {
  font-weight: bold;
}

.comment p {
  margin: 0;
}

h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
}

#comments {
  margin-top: 20px;
}
</style>

<h1>Izohlar</h1>
  <form method="POST" name="productid" action="/add-comment">
      <input type="hidden"  value="{{this.id}}">
      <label for="comment-email">E-mail:</label>
      <input type="email" id="comment-email" name="email" required>
      <textarea name="text" placeholder="Izohingizni yozing" required></textarea>
      <button type="submit">Izoh qoldirish</button>
  </form>

<div id="comments">
  {{#each comments}}
  <div class="comment">
    <strong>{{this.email}}:</strong>
    <p>{{this.text}}</p>
  </div>
  {{/each}}
</div>

